@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column; }

#bar {
  background: url("./images/background.jpg");
  background-size: cover;
  height: 7px;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1; }

a, a:hover {
  text-decoration: none; }

ul {
  list-style-type: none; }

.chat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.chat-window {
  flex-basis: 600px;
  flex-shrink: 1;
  margin-bottom: 120px; }

.chat-message {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap; }
  .chat-message .message-info, .chat-message .message-photo, .chat-message p {
    flex-shrink: 1;
    margin: 10px; }
  .chat-message .message-info {
    flex-basis: 50px;
    flex-grow: 0.5; }
  .chat-message .message-info > a {
    color: #96659b; }
  .chat-message .message-info > span {
    display: block; }
  .chat-message .message-photo {
    flex-basis: 50px;
    flex-grow: 0.5; }
  .chat-message .message-photo > img {
    border-radius: 50px;
    height: 50px;
    width: 50px; }
  .chat-message p {
    flex-basis: 300px;
    flex-grow: 2;
    padding: 10px; }

.chat-message.author-message {
  justify-content: flex-end; }
  .chat-message.author-message p {
    background: #f7ddca;
    order: 1; }

.chat-message.user-message {
  justify-content: flex-start; }
  .chat-message.user-message .message-info {
    order: 3; }
  .chat-message.user-message .message-photo {
    order: 2; }
  .chat-message.user-message p {
    background: #daf2e7;
    order: 1; }

.chat-input {
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 7px;
  right: 0;
  left: 0;
  height: 100px; }
  .chat-input .form-control {
    flex-basis: 500px;
    flex-shrink: 1; }
  .chat-input .btn {
    flex-basis: 100px;
    flex-shrink: 1; }

.form-control {
  border: none;
  border-left: 2px solid #96659b;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  padding: 10px;
  height: 100px;
  width: 90%; }

.btn {
  background: #96659b;
  border: 1px solid #96659b;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  height: 40px;
  transition: all 0.2s ease-in-out;
  width: 100px; }

.btn:hover {
  background: transparent;
  color: #96659b; }
