@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$primary-color: #96659b;
$secondary-color: #777;
$border-radius: 2px;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
}
.block{
    display: block;
    margin: 10px;
    height: 300px;
    width: 100%;
}
#bar{
    background: url('./images/background.jpg');
    background-size: cover;
    height: 7px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

a, a:hover{ text-decoration: none; }

ul{ list-style-type: none; }

.message-window{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
}

.messages{
    width: 100%;
}

.message{
    display: flex;
    margin: 10px;
    width: 100%;

    .info{
        flex-grow: 0.4;
        margin: 10px 0;
        a{
            display: block;
            color: $secondary-color;
            line-height: 1.5em;
        }
        span{
            color: $secondary-color;
            font-size: 0.7em;
        }
    }
    .photo{
        flex-basis: 60px;
        margin: 10px;
        img{
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }
    }

    p{
        border-radius: $border-radius;
        color: $secondary-color;
        flex-grow: 2;
        flex-basis: 60%;
        flex-shrink: 1;
        overflow: hidden;
        margin: 0 20px;
        padding: 10px;
    }
}

.message.author-message{
    justify-content: flex-end;

    p{
        background: #f7ddca;
        order: 1;
    }
}

.message.user-message{
    justify-content: flex-start;
    .info{
        order: 3;
    }
    .photo{
        order: 2;
    }
    p{
        background: #daf2e7;
        order: 1;
    }
}

.input{
    background: #fff;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;

    form{
        display: flex;
        align-items: center;
        flex-basis: 60%;
        #content{
            margin-right: 10px;
        }
    }
}

.form-control{
    border: none;
    border-left: 2px solid $primary-color;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    padding: 10px;
    height: 100px;
    width: 90%;
}

.btn{
    background: $primary-color;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    height: 40px;
    transition: all 0.2s ease-in-out;
    width: 100px;
}

.btn:hover{
    background: transparent;
    color: $primary-color;
}

@media screen and (max-width: 600px){
    .message-window{
        width: 100%;
    }
    .input{
        form{
            flex-basis: 100%;
        }
    }
}