@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$primary-color: #96659b;
$secondary-color: #777;
$border-radius: 2px;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
}

#bar{
    background: url('./images/background.jpg');
    background-size: cover;
    height: 7px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

a, a:hover{ text-decoration: none; }

ul{ list-style-type: none; }

.chat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}
.chat-window{
    flex-basis: 600px;
    flex-shrink: 1;
    margin-bottom: 120px;
}

.chat-message{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    .message-info, .message-photo, p { flex-shrink: 1; margin: 10px; }
    .message-info{
        flex-basis: 50px;
        flex-grow: 0.5;
    }
    .message-info > a{ color: $primary-color; }
    .message-info > span{ display: block; }
    .message-photo{
        flex-basis: 50px;
        flex-grow: 0.5;
    }
    .message-photo > img{
        border-radius: 50px;
        height: 50px;
        width: 50px;
    }
    p{
        flex-basis: 300px;
        flex-grow: 2;
        padding: 10px;
    }
}

.chat-message.author-message{
    justify-content: flex-end;
    p{
        background: #f7ddca;
        order: 1;
    }
}

.chat-message.user-message{
    justify-content: flex-start;
    .message-info{ order: 3; }
    .message-photo{ order: 2; }
    p{
        background: #daf2e7;
        order: 1;
    }
}

.chat-input{
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 7px;
    right: 0;
    left: 0;
    height: 100px;

    .form-control{
        flex-basis: 500px;
        flex-shrink: 1;
    }
    .btn{
        flex-basis: 100px;
        flex-shrink: 1;
    }
}

.form-control{
    border: none;
    border-left: 2px solid $primary-color;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    padding: 10px;
    height: 100px;
    width: 90%;
}

.btn{
    background: $primary-color;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    height: 40px;
    transition: all 0.2s ease-in-out;
    width: 100px;
}

.btn:hover{
    background: transparent;
    color: $primary-color;
}